@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
	background-color: #eaf1f7;
	font-size: 12px;
	padding: 0;
    margin: 0;
}

body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 100%;
}

header {
	align-content: center;
	justify-content: space-around;
	text-align: center;
	margin: 2.5vh 20vw 2vh;
}

section {
	display: -webkit-flex;
	display: flex;
	text-align: center;
	justify-content: space-around;
	padding: 0vh 0vh 1vh;
}

sectiontwo {
	text-align: center;
	justify-content: space-around;
	padding: 1vh 5vw;
}

nav {
	display: flex;
	justify-content: center;
  	align-items: center;
	width: 100%;
	background-color: #d8e5f0;
}

.ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #d8e5f0;
}

.li {  
	flex: 0 1 auto;
	list-style-type: none;
	padding: 2vh 3vw 1.5vh;
	background-color: #d8e5f0;
}

.li a {
	background-color: #d8e5f0;
}

.li a:hover {
  color: #6994c6;
	background-color: #d8e5f0;
}

@media screen and (max-width: 600px) {
  .ul {
    float: none;
    display: block;
    text-align: center;
  }
}

.qs {
	text-align: center;
	justify-content: center;
	padding: 0 10vw
}

footer {
	text-align: center;
	color: white;
	background-color: #d8e5f0;
}

h1 {
	
	font-size: 2.5em;
	color: #152137;
	border: medium solid #6994c6;
	background-color: #d8e5f0;
}

h2 {
	font-size: 1.5em;
	color: #152137;
	padding: 1.5vh 0vh 0vh;
}

h3 {
	font-size: 1.5em;
	background-color: #d8e5f0;
}

h4 {
	font-size: 1.5em;
	font-style: italic;
	background-color: #d8e5f0;
}

p {
	font-size: 1.25em;
	margin: 0vh 5vw;
}

i {
	font-size: 1.3em;
	background-color: #d8e5f0;
}

em {
	font-size: 100%;
}

hr {
	border-top: 1px solid #152137;
	margin: 1.5vh 0vh 0vh;
}

img {
	align-content: center;
	justify-content: center;
	max-height: 73vh;
	width: auto;
}

a h1:hover {
	color: #6994c6;
	border-color: #152137;
}

h2 a {
	color: #152137;
	font-size: inherit;
}

a:link {
	text-decoration: none;
	color: #152137;
}

a:hover {
	color: #6994c6;
}